*{
    margin: 0%;
    padding: 0%;
    background-color: gray;
    
} 

nav div {
    text-decoration: dotted;
    align-items: center;
}

nav div header{
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;

}

nav div header img{
    border-radius: 7rem;
    height: 4.4rem;
    margin-left: 2rem;

}

nav div header h1{
    height: 4.4rem;
    margin-left: 2rem;
    margin-top: 2rem;

}
nav div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: 40rem;
}

nav div ul li{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
}
