*{
    margin: 0%;
    padding: 0%;
    background-color: royalblue;
    
} 

nav div {
    text-decoration: dotted;
    align-items: center;
}

nav div header{
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;

}

nav div header img{
    border-radius: 7rem;
    height: 4.4rem;
    margin-left: 2rem;

}

nav div header h1{
    height: 4.4rem;
    margin-left: 2rem;
    margin-top: 2rem;

}
nav div ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-left: 40rem;
}

nav div ul li{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
}

nav div ul li a{
    display: flex;
    align-items: center;
    text-align: center;
    
    flex-direction: row;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 20px;
    
}

nav div ul li a:hover{
    display: flex;
    align-items: center;
    text-align: center;
    color: aqua;
    flex-direction: row;
    text-decoration: none;
    margin-left: 3rem;
    font-size: 20px;
    
}


div section{
    align-items: center;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 0px;
    margin-top: 20rem;
    background-color: rgb(156, 117, 117);
    font-size: 25px;
    ;
}

av div header img #nmk{
    border-radius: 7rem;
    height: 4.4rem;

}

img{
    padding: 5rem;
    border-radius: 2rem;
    align-items: center;

}
